@model WebApplication.Models.ProjectViewModel

@{
    ViewData["Title"] = "Đăng ký đồ án";
}

<div class="section section-page">
    <div class="row">
        <div class="col-md-8 ml-auto mr-auto">
            <h2 class="text-center title">Đăng kí đồ án môn học</h2>
            @*<h4 class="text-center description"></h4>*@
            <form class="contact-form" asp-action="Create">
                <div class="form-group">
                    <label asp-for="ProjectTypeId"></label>
                    <select asp-for="ProjectTypeId" asp-items="ViewBag.ProjectTypeId" class="form-control selectpicker" data-style="btn btn-link"></select>
                    <span asp-validation-for="ProjectTypeId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Title" class="bmd-label-floating"></label>
                    <input asp-for="Title" class="form-control">
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="bmd-label-floating">Ngành</label>
                            <input type="text" class="form-control" value="@ViewBag.FacultyName" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="SpecializedFacultyId"></label>
                            <select asp-for="SpecializedFacultyId" asp-items="ViewBag.SpecializedFacultyId" class="form-control selectpicker" data-style="btn btn-link"></select>
                            <span asp-validation-for="SpecializedFacultyId" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Description" class="bmd-label-floating"></label>
                    <textarea asp-for="Description" class="form-control" rows="4"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="row">
                    <div class="col-md-4 ml-auto mr-auto text-center">
                        <button class="btn btn-success btn-raised">
                            Đăng ký đồ án
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
