
WebApplication/WebApplication/obj/Debug/netcoreapp3.0/WebApplication.csprojAssemblyReference.cache
WebApplication/.vs/WebApplication/v16/Server/sqlite3/storage.ide-wal
WebApplication/.vs/WebApplication/v16/Server/sqlite3/storage.ide-shm
WebApplication/.vs/WebApplication/v16/.suo
