@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@*<li class="dropdown nav-item">
        <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            <i class="material-icons">apps</i> Components
        </a>
        <div class="dropdown-menu dropdown-with-icons">
            <a href="../index.html" class="dropdown-item">
                <i class="material-icons">layers</i> All Components
            </a>
            <a href="https://demos.creative-tim.com/material-kit/docs/2.1/getting-started/introduction.html" class="dropdown-item">
                <i class="material-icons">content_paste</i> Documentation
            </a>
        </div>
    </li>*@

<li class="nav-item">
    <a class="nav-link" asp-action="Index" asp-controller="Projects" onclick="scrollToDownload()">
        <i class="material-icons">layers</i>Danh sách đồ án
    </a>
</li>
<li class="dropdown nav-item">
    <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
        <i class="material-icons">person</i> Tài khoản
    </a>
    <div class="dropdown-menu dropdown-with-icons">
        @if (SignInManager.IsSignedIn(User))
        {
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index">
                <i class="material-icons">layers</i> @User.Identity.Name
            </a>
            <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a href="javascript: void(0)" onclick="this.parentNode.submit()" class="dropdown-item">
                    <i class="material-icons">layers</i> Đăng xuất
                </a>
            </form>
        }
        else
        {
            <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">
                <i class="material-icons">content_paste</i> Đăng nhập
            </a>
        }
    </div>
</li>
<li class="nav-item">
    <a class="nav-link" rel="tooltip" title="" data-placement="bottom" href="https://www.facebook.com/hutechuniversity/" target="_blank" data-original-title="Like us on Facebook">
        <i class="fa fa-facebook-square"></i>
    </a>
</li>