@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
    <a class="dropdown-item" href="#">Settings</a>
    @if (SignInManager.IsSignedIn(User))
    {
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">@User.Identity.Name!</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout">Logout</a>
    }
    else
    {
        <a class="dropdown-item" asp-area="Identity" asp-page="/Account/Login">Login</a>
    }
</div>


