@model WebApplication.Models.ProjectType

@{
    ViewData["Title"] = "Edit Project Type - " + Model.Id;
}

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary">
                <h3 class="card-title">Sửa loại sản phẩm - @Model.Id</h3>
                <p class="card-subtitle"></p>
            </div>
            <div class="card-body">

                <form method="post" asp-action="Create">
                    <input type="hidden" asp-for="Id" />
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group bmd-form-group">
                                <label asp-for="Name" class="bmd-label-floating"></label>
                                <input asp-for="Name" class="form-control" />
                                <span asp-validation-for="Name" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <div class="form-check">
                                    <label class="form-check-label" asp-for="IsDisabled">
                                        <input asp-for="IsDisabled" class="form-check-input" />
                                        @Html.DisplayNameFor(model => model.IsDisabled)
                                        <span class="form-check-sign">
                                            <span class="check"></span>
                                        </span>
                                    </label>
                                </div>
                                <span asp-validation-for="IsDisabled" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-success">Sửa</button>
                            <a class="btn btn-outline-primary" asp-action="Index">Quay lại</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}